
  <div class="background-image"></div>

  <main class="content">
    <section class="banner">
      <div class="banner-text">
        <h1>Obtenga los catálogos de su preferencia</h1>
        <p>suscribase a los nuevos productos conforme a sus preferencias</p>
        <a href="formulario" class="shop-now-btn">Suscribirse</a>
      </div>
    </section>

  </main>

  <!-- Sección de Plantillas/Boxes -->
  <div class="template-section">
    <div class="box">
      <h3>El primer relo en el Espacio</h3>
      <img src="/assets/images/imagen1.jpg" alt="Imagen de Plantilla 1">
      <p>Contenido de la primera plantilla como en la imagen.</p>
    </div>

    <div class="box">
      <h3>Mecanica</h3>
      <img src="/assets/images/imagen2.jpg" alt="Imagen de Plantilla 2">
      <p>Contenido de la segunda plantilla como en la imagen.</p>
    </div>

    <div class="box">
      <h3>Estructura y componentes</h3>
      <img src="/assets/images/imagen3.jpg" alt="Imagen de Plantilla 3">
      <br>
      <br>
      <br>
      <p>Contenido de la tercera plantilla, ajustado con diseño.</p>
    </div>
  </div>

  <!-- Footer -->
  <div class="footer">
    <p>© 2024 Todos los derechos reservados. Contacto: ejemplo correo.com</p>
  </div>





