<header class="navbar">
  <div class="logo">WatchMart</div>
  <nav>
    <ul>
      <li><a href="all-products.html">All Products</a>
        <div class="dropdown">
          <a href="quartz.html">Quartz</a>
          <a href="automatic.html">Automatic</a>
          <a href="chronograph.html">Chronograph</a>
          <a href="pilot-watches.html">Pilot Watches</a>
          <a href="diver-watches.html">Diver Watches</a>
          <a href="womens-watches.html">Women's Watches</a>
          <a href="brands.html">Brands</a>
        </div>
      </li>
      <li><a href="home">Home</a></li>
      <li><a href="categoria-seamaster">SEAMASTER</a></li>
      <li><a href="categoria-speedmaster">SPEEDMASTER</a></li>
      <li><a href="ver-prouctos">Buscar Relojes</a></li>
      <li><a href="admin-clientes">Admin Clientes</a></li>
      <li><a href="admin-relojes">Admin Relojes</a></li>
    </ul>
  </nav>
  <div class="search-cart">
    <input type="text" placeholder="Search product ..." />
    <button class="cart-btn">🛒</button>
  </div>
</header>
<router-outlet />
